name: CI Pull Request

on:
  pull_request:
    branches-ignore:
      - 'release-please--branches--*'

jobs:
  shellcheck:
    name: Check shell scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0

  lint-workflow:
    runs-on: ubuntu-latest
    container:
      image: rhysd/actionlint:1.6.23
      options: --cpus 1 --user root
    steps:
      - uses: actions/checkout@v3
      - name: Validate Github workflows
        run: |
          mkdir .git
          actionlint -color

  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate Markdown file
        run: |
          npm install -g markdownlint-cli
          markdownlint -c .markdownlint.yml -i CHANGELOG.md "**/*.md"

  verify-json:
    name: Run JSON Lint
    runs-on: ubuntu-latest
    steps: 
      - run: bash <(curl -s https://raw.githubusercontent.com/CICDToolbox/json-lint/master/pipeline.sh)

