---
name: Release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/default_release_callable.yml@7ca369a7b39026826ce13e86443b1bee7766f4f4 # 1.22.54
    secrets: inherit
