---
name: Release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/default_release_callable.yml@395398f37291cbc5d5af92f16654230dd424a19f # 1.26.11
    secrets: inherit
