name: Release Test

on:
  push:
    branches:
      - release-dry-run

jobs:
  dry-release:
    name: Release dry-run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dry branch
        uses: actions/checkout@v2
        with:
          ref: release-dry-run

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm --prefix .release/ ci

      - name: Dry run
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GH_TOKEN }}
        run: unset GITHUB_ACTIONS && npx semantic-release --dry-run --no-ci
