---
name: Execute ChatOps command

on:
  repository_dispatch:
    types: 
      - finish-command
      - help-command

jobs:
  help-command:
    name: "ChatOps: Help"
    if: github.event.action == 'help-command'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Choose maintainer
        id: vars
        run: |
          maintainers=("kayman-mk")
          
          RANDOM=$(date +%s)
          
          maintainer=${maintainers[ $RANDOM % ${#maintainers[@]} ]}
          echo "maintainer=$maintainer" >> "$GITHUB_OUTPUT"
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            // adds a comment to the PR (there is the issue API, which works work PRs too)
            github.rest.issues.createComment({
              issue_number: context.payload.client_payload.github.payload.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Hey there @${{ steps.vars.outputs.maintainer }}, could you please help @${{ github.event.client_payload.github.payload.comment.user.login }} out?'
            })

  finish-command:
    name: "ChatOps: Finish"
    if: github.event.action == 'finish-command'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: "refs/pull/${{ github.event.client_payload.slash_command.args.named.pull_request_number }}/head"
      - run: |
          git fetch origin "pull/${{ github.event.client_payload.slash_command.args.named.pull_request_number }}/head:${{ github.event.client_payload.slash_command.args.named.branch_name }}"
          git checkout ${{ github.event.client_payload.slash_command.args.named.branch_name }}
          git push -u origin ${{ github.event.client_payload.slash_command.args.named.branch_name }}
      - name: Generate Terraform docs
        uses: terraform-docs/gh-actions@f6d59f89a280fa0a3febf55ef68f146784b20ba0 # v1.0.0
        with:
          find-dir: .
          git-commit-message: "docs: update Terraform docs"
          git-push: true

      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # v2.0.3

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -write=true -recursive

      - uses: stefanzweifel/git-auto-commit-action@8756aa072ef5b4a080af5dc8fef36c5d586e521d # v5
        with:
          commit_message: "chore: format Terraform code"

      - name: Failure notice
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        if: ${{ failure() }}
        with:
          script: |
            // adds a comment to the PR (there is the issue API, which works work PRs too)
            github.rest.issues.createComment({
              issue_number: context.payload.client_payload.github.payload.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'The `/finish` action failed. Please check the action protocol!'
            })
