---
name: Execute ChatOps help command

# yamllint disable-line rule:truthy
on:
  repository_dispatch:
    types:
      - help-command

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/default_slash_ops_command_help_callable.yml@395398f37291cbc5d5af92f16654230dd424a19f # 1.26.11
    secrets: inherit
