---
name: Execute ChatOps ready command

# yamllint disable-line rule:truthy
on:
  repository_dispatch:
    types:
      - ready-command

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/default_slash_ops_command_ready_callable.yml@badc26f9f0990b88efe47a8da457b23267d674d2 # 1.22.55
    secrets: inherit
