---
name: Terraform

# yamllint disable-line rule:truthy
on:
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/terraform_module_terraform_callable.yml@dc2e66ba9e8fbfa2d8494cbc6d6eed01f947d42a # 1.26.12
    secrets: inherit
    with:
      minimum-terraform-version: "1.5.7"
