---
name: TfSec

# yamllint disable-line rule:truthy
on:
  pull_request:
  schedule:
    # runs mondays at 3:47 UTC refreshing the vulnerabilities
    - cron: "47 3 * * 1"

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/terraform_module_terraform_tfsec_callable.yml@590c56856a43c909afcc719f44ca96e3c2569b17 # 1.22.53
    secrets: inherit
