---
name: TfSec

# yamllint disable-line rule:truthy
on:
  pull_request:
  schedule:
    - cron: "47 3 * * 1"

jobs:
  tfsec:
    name: Run tfsec sarif report
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v3.3.0

      - name: Run tfsec
        uses: tfsec/tfsec-sarif-action@v0.1.4
        with:
          sarif_file: tfsec.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@17573ee1cc1b9d061760f3a006fc4aac4f944fd5 # v2.2.4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: tfsec.sarif
