---
name: TfSec

# yamllint disable-line rule:truthy
on:
  pull_request:
  schedule:
    # runs mondays at 3:47 UTC refreshing the vulnerabilities
    - cron: "47 3 * * 1"

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/terraform_module_terraform_tfsec_callable.yml@badc26f9f0990b88efe47a8da457b23267d674d2 # 1.22.55
    secrets: inherit
