---
name: Terraform

# yamllint disable-line rule:truthy
on:
  pull_request_target:

permissions:
  id-token: write
  contents: read

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/terraform_module_tflint_callable.yml@badc26f9f0990b88efe47a8da457b23267d674d2 # 1.22.55
    secrets: inherit
