---
name: Terraform

# yamllint disable-line rule:truthy
on:
  pull_request_target:

permissions:
  id-token: write
  contents: read

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/terraform_module_tflint_callable.yml@d55afdff37918b3f42bc21607b741113f5e3fd4f # 1.26.29
    secrets: inherit
